extends layout

block content
    .container.center

        .row
            form.mg-btm
                h3.heading-desc
                    | Fazer Login
                .social-box
                    .row.mg-btm
                        .col-md-12
                            a(href='/auth/facebook')
                                img.media-object.img-responsive.img-thumbnail(src='img/facebookAuth.png')
                            .mg-btm
                            a(href='/auth/google')
                                img.media-object.img-responsive.img-thumbnail(src='img/googleAuth.png')
                                p
                                    label
                                        input.with-gap(name='group1' type='radio' checked='')
                                        span
                                            i.material-icons drive_eta
                                            | Motorista
                                    label
                                        input.with-gap(name='group1' type='radio')
                                        span
                                            i.material-icons airline_seat_recline_normal
                                            | Passageiro
